Repository DeFiCh/metachain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @surangap, @DieHard073055, @canonbrother

chore(docs/deps): bump contented to v1.1.0 (#21)
  README.md
  docs/.gitignore
  docs/01:overview.md
  docs/:100:Specification/:010:rpc-interface.md
  docs/:100:Specification/:099:iterations.md
  docs/:900:Governance/:001:contributing.md
  docs/:900:Governance/:002:documentation.md
  docs/contented.config.js
  docs/contented.js
  docs/package-lock.json
  docs/package.json
  netlify.toml
Owners: @fuxingloh, @surangap, @DieHard073055, @canonbrother

chore(example): remove example project (#20)
  .gitignore
  .idea/metachain.iml
  Cargo.toml
  example/example/Cargo.toml
  example/example/src/main.rs
Owners: @fuxingloh, @surangap

docs: update contribution with more instructions
  docs/:900:Governance/:001:contributing.md
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

chore(meta): restructure project to meta/*
  .idea/metachain.iml
  Cargo.lock
  Cargo.toml
  meta/meta-consensus/Cargo.toml
  meta/meta-consensus/src/lib.rs
  meta/meta-consensus/src/tests.rs
  meta/meta-node/Cargo.toml
  meta/meta-node/Dockerfile
  meta/meta-node/build.rs
  meta/meta-node/src/chain_spec.rs
  meta/meta-node/src/cli.rs
  meta/meta-node/src/command.rs
  meta/meta-node/src/main.rs
  meta/meta-node/src/rpc.rs
  meta/meta-node/src/service.rs
  meta/meta-runtime/Cargo.toml
  meta/meta-runtime/build.rs
  meta/meta-runtime/src/lib.rs
Owners: @fuxingloh, @surangap

chore(meta): restructure project to meta/* (#24)
  .idea/metachain.iml
  Cargo.lock
  Cargo.toml
  meta/meta-consensus/Cargo.toml
  meta/meta-consensus/src/lib.rs
  meta/meta-consensus/src/tests.rs
  meta/meta-node/Cargo.toml
  meta/meta-node/Dockerfile
  meta/meta-node/build.rs
  meta/meta-node/src/chain_spec.rs
  meta/meta-node/src/cli.rs
  meta/meta-node/src/command.rs
  meta/meta-node/src/main.rs
  meta/meta-node/src/rpc.rs
  meta/meta-node/src/service.rs
  meta/meta-runtime/Cargo.toml
  meta/meta-runtime/build.rs
  meta/meta-runtime/src/lib.rs
Owners: @fuxingloh, @surangap

cherry pick 3be6c1f
  Cargo.lock
  Cargo.toml
  nodes/meta-node/Cargo.toml
  nodes/meta-node/src/chain_spec.rs
  nodes/meta-node/src/cli.rs
  nodes/meta-node/src/command.rs
  nodes/meta-node/src/rpc.rs
  nodes/meta-node/src/service.rs
  runtimes/meta-runtime/Cargo.toml
  runtimes/meta-runtime/src/lib.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

restructure
  Cargo.toml
  meta/meta-node/Cargo.toml
  meta/meta-node/src/chain_spec.rs
  meta/meta-node/src/cli.rs
  meta/meta-node/src/command.rs
  meta/meta-node/src/rpc.rs
  meta/meta-node/src/service.rs
  meta/meta-runtime/Cargo.toml
  meta/meta-runtime/src/lib.rs
Owners: @surangap, @fuxingloh

fix merge
  Cargo.lock
  Cargo.toml
  meta/meta-runtime/src/lib.rs
Owners: @surangap, @fuxingloh

fix merge 2
  meta/meta-runtime/src/lib.rs
Owners: none

rebuild cargo.lock
  Cargo.lock
Owners: @surangap, @fuxingloh

fix TransactionByteFee
  meta/meta-runtime/src/lib.rs
Owners: none

docs: update contribution with explicit instructions (#23)
  docs/:900:Governance/:001:contributing.md
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

.github/CODEOWNERS:

# Define individuals that are responsible for code in this repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.github/workflows                              @fuxingloh @surangap
/.idea/                                         @fuxingloh
/docs/                                          @surangap @fuxingloh @DieHard073055 @canonbrother

/nodes/                                         @surangap @fuxingloh @DieHard073055 @canonbrother
/pallets/                                       @surangap @fuxingloh @DieHard073055 @canonbrother
/runtimes/                                      @surangap @fuxingloh @DieHard073055 @canonbrother

README.md                                       @fuxingloh
LICENSE                                         @fuxingloh
rustfmt.toml                                    @surangap @fuxingloh
Cargo.toml                                      @surangap @fuxingloh
Cargo.lock                                      @surangap @fuxingloh
