Repository DeFiCh/metachain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @surangap, @DieHard073055, @canonbrother

clippy fix
  meta/meta-node/src/command.rs
  meta/meta-node/src/rpc.rs
  meta/meta-node/src/service.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

fix lint
  meta/meta-node/src/rpc.rs
  meta/meta-runtime/src/lib.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

chore(workflow): setup multi-stage docker build
  .dockerignore
  Dockerfile
  meta/meta-node/Dockerfile
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

add cd.yml workflow for building image
  .github/workflows/cd.yml
Owners: @fuxingloh, @surangap

rm unuse dep and ver on cargo.toml
  Cargo.lock
  Cargo.toml
  meta/meta-node/Cargo.toml
  meta/meta-node/src/rpc.rs
  meta/meta-runtime/Cargo.toml
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

deps alignments
  Cargo.lock
  Cargo.toml
  meta/meta-node/Cargo.toml
  meta/meta-runtime/Cargo.toml
  meta/meta-runtime/src/lib.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

use deps polkadot-v0.9.25 to support pallet-evm
  Cargo.lock
  meta/meta-node/Cargo.toml
  meta/meta-runtime/Cargo.toml
  meta/meta-runtime/src/lib.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

wip evm - 2 errs
  Cargo.lock
  meta/meta-runtime/Cargo.toml
  meta/meta-runtime/src/lib.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

ordering
  meta/meta-runtime/src/lib.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

added evm
  Cargo.lock
  meta/meta-runtime/Cargo.toml
  meta/meta-runtime/src/lib.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

use double quotes on Cargo.toml
  meta/meta-node/Cargo.toml
  meta/meta-runtime/Cargo.toml
Owners: @surangap, @fuxingloh

re-organize deps
  meta/meta-node/Cargo.toml
  meta/meta-runtime/Cargo.toml
Owners: @surangap, @fuxingloh

add evm config on chain_spec
  Cargo.lock
  meta/meta-node/Cargo.toml
  meta/meta-node/src/chain_spec.rs
  meta/meta-node/src/rpc.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

evm base fee, fixed gas weight mapping, tx converter
  Cargo.lock
  meta/meta-node/Cargo.toml
  meta/meta-node/src/rpc.rs
  meta/meta-node/src/service.rs
  meta/meta-runtime/src/lib.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

node service
  Cargo.lock
  meta/meta-node/Cargo.toml
  meta/meta-node/src/rpc.rs
  meta/meta-node/src/service.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

command.rs
  meta/meta-node/src/command.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

chain_spec.rs
  meta/meta-node/src/chain_spec.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

rm cmd sink on service.rs
  meta/meta-node/src/service.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

update dep on node cargo
  meta/meta-node/Cargo.toml
Owners: @surangap, @fuxingloh

cli
  meta/meta-node/src/cli.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

refine service
  meta/meta-node/src/service.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

add btreemap in rpc
  meta/meta-node/src/rpc.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

rm cfg feature manual-seal
  Cargo.lock
  meta/meta-node/src/cli.rs
  meta/meta-node/src/rpc.rs
  meta/meta-runtime/src/lib.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

phew fix all
  meta/meta-node/src/chain_spec.rs
  meta/meta-node/src/command.rs
  meta/meta-runtime/src/lib.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

add mock and test
  Cargo.lock
  meta/meta-runtime/Cargo.toml
  meta/meta-runtime/src/lib.rs
  meta/meta-runtime/src/mock.rs
  meta/meta-runtime/src/tests.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

minimize unncessary changes
  meta/meta-node/src/chain_spec.rs
  meta/meta-node/src/command.rs
  meta/meta-node/src/rpc.rs
  meta/meta-runtime/src/lib.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

rm log
  meta/meta-runtime/src/tests.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

chainId 988
  meta/meta-runtime/src/lib.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

feat(meta-consensus): (WIP) block import unit test
  meta/meta-consensus/Cargo.toml
  meta/meta-consensus/src/lib.rs
  meta/meta-consensus/src/tests.rs
  meta/meta-consensus/src/weights.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

chore(deps): Upgrade to 2022-08 (#25)
  Cargo.lock
  Cargo.toml
  meta/meta-node/Cargo.toml
  meta/meta-node/src/chain_spec.rs
  meta/meta-node/src/cli.rs
  meta/meta-node/src/command.rs
  meta/meta-node/src/rpc.rs
  meta/meta-node/src/service.rs
  meta/meta-runtime/Cargo.toml
  meta/meta-runtime/src/lib.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

fix conflicts
  meta/meta-node/src/chain_spec.rs
  meta/meta-runtime/src/lib.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

fmt
  meta/meta-node/src/chain_spec.rs
  meta/meta-node/src/command.rs
  meta/meta-node/src/service.rs
  meta/meta-runtime/src/lib.rs
  meta/meta-runtime/src/mock.rs
  meta/meta-runtime/src/tests.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

missing default sealing
  meta/meta-node/src/cli.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

fix(pass-through-verifier): TODO - revert this
  meta/meta-consensus/src/tests.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

ss58prefix 988
  meta/meta-runtime/src/lib.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

add DFI token symbol
  Cargo.lock
  meta/meta-node/Cargo.toml
  meta/meta-node/src/chain_spec.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

chore(meta): add evm (#27)
  Cargo.lock
  meta/meta-node/Cargo.toml
  meta/meta-node/src/chain_spec.rs
  meta/meta-node/src/cli.rs
  meta/meta-node/src/command.rs
  meta/meta-node/src/rpc.rs
  meta/meta-node/src/service.rs
  meta/meta-runtime/Cargo.toml
  meta/meta-runtime/src/lib.rs
  meta/meta-runtime/src/mock.rs
  meta/meta-runtime/src/tests.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

add e2e testcontainer
  .dockerignore
  .gitignore
  .vscode/settings.json
  Dockerfile
  ts-tests/.gitignore
  ts-tests/.prettierrc
  ts-tests/__tests__/balances.test.ts
  ts-tests/__tests__/blocks.test.ts
  ts-tests/babel.config.js
  ts-tests/containers/MetaDContainer.test.ts
  ts-tests/containers/MetaDContainer.ts
  ts-tests/containers/index.ts
  ts-tests/jest.config.ts
  ts-tests/package-lock.json
  ts-tests/package.json
  ts-tests/tsconfig.json
Owners: none

br
  .gitignore
  .vscode/settings.json
  Dockerfile
Owners: none

ts-test package ver 0.0.0
  ts-tests/package.json
Owners: none

.github/CODEOWNERS:

# Define individuals that are responsible for code in this repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.github/workflows                              @fuxingloh @surangap
/.idea/                                         @fuxingloh

/docs/                                          @surangap @fuxingloh @DieHard073055 @canonbrother
/meta/                                          @surangap @fuxingloh @DieHard073055 @canonbrother

README.md                                       @fuxingloh
LICENSE                                         @fuxingloh
rustfmt.toml                                    @surangap @fuxingloh
Cargo.toml                                      @surangap @fuxingloh
Cargo.lock                                      @surangap @fuxingloh
