Repository DeFiCh/metachain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @surangap, @DieHard073055, @canonbrother

.github/CODEOWNERS:

# Define individuals that are responsible for code in this repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.github/workflows                              @fuxingloh @surangap
/.idea/                                         @fuxingloh

/docs/                                          @surangap @fuxingloh @DieHard073055 @canonbrother
/meta/                                          @surangap @fuxingloh @DieHard073055 @canonbrother

README.md                                       @fuxingloh
LICENSE                                         @fuxingloh
rustfmt.toml                                    @surangap @fuxingloh
Cargo.toml                                      @surangap @fuxingloh
Cargo.lock                                      @surangap @fuxingloh

merge conflicts - fix
  .gitignore
  Dockerfile
  meta/meta-node/src/chain_spec.rs
  meta/meta-runtime/src/lib.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

br
  .dockerignore
  .gitignore
  Cargo.lock
  Dockerfile
Owners: @surangap, @fuxingloh

build with target Dockerfile
  .github/workflows/cd.yml
Owners: @fuxingloh, @surangap

save bin
  .github/workflows/cd.yml
Owners: @fuxingloh, @surangap

build with --release -all
  .github/workflows/ci.yml
Owners: @fuxingloh, @surangap

remove save bin, build bin on docker
  .github/workflows/cd.yml
  Dockerfile
Owners: @fuxingloh, @surangap

mod expose and rm arg profile
  Dockerfile
Owners: none

prebuild
  .github/workflows/cd.yml
  Dockerfile
Owners: @fuxingloh, @surangap

Add meta-consensus-rpc module initial code.
  Cargo.lock
  Cargo.toml
  meta/meta-consensus/rpc/Cargo.toml
  meta/meta-consensus/rpc/src/lib.rs
  meta/meta-node/Cargo.toml
  meta/meta-node/src/rpc.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

Add sample test to rpc module.
  meta/meta-consensus/rpc/src/tests.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

setup cache
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Owners: @fuxingloh, @surangap

test defich/metachain img
  ts-tests/containers/MetaDContainer.ts
Owners: none

ci e2e
  .github/workflows/ci.yml
Owners: @fuxingloh, @surangap

chore(workflow): CD of docker image on push/pull_request/release (#26)
  .dockerignore
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  meta/meta-node/Dockerfile
Owners: @fuxingloh, @surangap, @DieHard073055, @canonbrother

fix ci e2e
  .github/workflows/ci.yml
Owners: @fuxingloh, @surangap

rm ts-test/gitignore
  ts-tests/.gitignore
Owners: none

update bal.test.ts
  ts-tests/__tests__/balances.test.ts
  ts-tests/containers/MetaDContainer.ts
Owners: none

Update get_block_hash() test
  Cargo.lock
  meta/meta-consensus/rpc/Cargo.toml
  meta/meta-consensus/rpc/src/tests.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

use non-null assertion op
  ts-tests/__tests__/balances.test.ts
  ts-tests/__tests__/blocks.test.ts
  ts-tests/containers/MetaDContainer.test.ts
  ts-tests/containers/MetaDContainer.ts
Owners: none

move to constant
  ts-tests/__tests__/balances.test.ts
  ts-tests/containers/MetaDContainer.test.ts
  ts-tests/containers/MetaDContainer.ts
  ts-tests/utils/constant.ts
Owners: none

typing provider and call -> resp.result
  ts-tests/containers/MetaDContainer.ts
Owners: none

wip
  ts-tests/__tests__/contract-methods.test.ts
  ts-tests/__tests__/contract-storage.test.ts
  ts-tests/__tests__/contract.tests.ts
  ts-tests/contracts/ECRecoverTests.sol
  ts-tests/contracts/ExplicitRevertReason.sol
  ts-tests/contracts/Storage.sol
  ts-tests/contracts/Test.sol
  ts-tests/package.json
  ts-tests/truffle-config.js
  ts-tests/utils/constant.ts
Owners: none

Updated test.
  meta/meta-consensus/rpc/src/lib.rs
  meta/meta-consensus/rpc/src/tests.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

syntax err
  .github/workflows/cd.yml
Owners: @fuxingloh, @surangap

support multi platf
  .github/workflows/cd.yml
Owners: @fuxingloh, @surangap

update image tag
  ts-tests/containers/MetaDContainer.ts
Owners: none

syntax err
  .github/workflows/cd.yml
Owners: @fuxingloh, @surangap

fix(workflow): docker supports multi platform (#38)
  .github/workflows/cd.yml
Owners: @fuxingloh, @surangap

proper docker conn
  ts-tests/containers/MetaDContainer.ts
Owners: none

proper docker conn
  ts-tests/containers/MetaDContainer.ts
Owners: none

fix(workflow): docker supports multi platform (#38)
  .github/workflows/cd.yml
Owners: @fuxingloh, @surangap

proper docker conn
  ts-tests/containers/MetaDContainer.ts
Owners: none

rename ethersjs to ethers
  ts-tests/containers/MetaDContainer.ts
Owners: none

add network differentiate container
  ts-tests/containers/MetaDContainer.ts
Owners: none

extend timeout
  ts-tests/containers/MetaDContainer.ts
Owners: none

add network differentiate container
  ts-tests/containers/MetaDContainer.ts
Owners: none

extend timeout
  ts-tests/containers/MetaDContainer.ts
Owners: none

chore(ts-tests): add e2e testcontainer (#33)
  .github/workflows/ci.yml
  .gitignore
  .vscode/settings.json
  ts-tests/.prettierrc
  ts-tests/__tests__/balances.test.ts
  ts-tests/__tests__/blocks.test.ts
  ts-tests/babel.config.js
  ts-tests/containers/MetaDContainer.test.ts
  ts-tests/containers/MetaDContainer.ts
  ts-tests/containers/index.ts
  ts-tests/jest.config.ts
  ts-tests/package-lock.json
  ts-tests/package.json
  ts-tests/tsconfig.json
  ts-tests/utils/constant.ts
Owners: @fuxingloh, @surangap

Add extrinsics_encode_decode test.
  Cargo.lock
  meta/meta-consensus/rpc/Cargo.toml
  meta/meta-consensus/rpc/src/tests.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

Add block_encode_decode test.
  meta/meta-consensus/rpc/src/lib.rs
  meta/meta-consensus/rpc/src/tests.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother
