Repository DeFiCh/metachain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @surangap, @DieHard073055, @canonbrother

optimize internal npm packages
  .gitignore
  .idea/metachain.iml
  docs/.gitignore
  docs/contented.config.js
  docs/package.json
  ts-tests/package.json
Owners: @fuxingloh, @surangap, @DieHard073055, @canonbrother

move docs
  .prettierignore
  docs/package-lock.json
  package-lock.json
  package.json
  packages/meta-docs/:100:Specification/:010:rpc-interface.md
  packages/meta-docs/:100:Specification/:099:iterations.md
  packages/meta-docs/:900:Governance/:001:contributing.md
  packages/meta-docs/:900:Governance/:002:documentation.md
  packages/meta-docs/contented.config.js
  packages/meta-docs/package.json
  turbo.json
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

remove pnpm
  package.json
Owners: none

fix netlify.toml
  netlify.toml
  package-lock.json
Owners: none

rename package name and remove docs-ci.yml
  .github/workflows/docs-ci.yml
  package-lock.json
  package.json
  packages/meta-docs/package.json
Owners: @fuxingloh, @surangap

fix netlify.toml
  packages/meta-docs/package.json
Owners: none

rename directory to fix package name
  netlify.toml
  packages/docs/:100:Specification/:010:rpc-interface.md
  packages/docs/:100:Specification/:099:iterations.md
  packages/docs/:900:Governance/:001:contributing.md
  packages/docs/:900:Governance/:002:documentation.md
  packages/docs/contented.config.js
  packages/docs/package.json
Owners: none

Add block_import test.
  meta/meta-consensus/rpc/src/tests.rs
Owners: @surangap, @fuxingloh, @DieHard073055, @canonbrother

fix netlify.toml directory do nor exist
  netlify.toml
Owners: none

chore(renovate): replace dependabot with renovate and start tracking all deps
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/docs-release.yml
  .github/workflows/oss-governance-bot.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-labels.yml
  .github/workflows/release-drafter.yml
Owners: @fuxingloh, @surangap

.github/CODEOWNERS:

# Define individuals that are responsible for code in this repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.github/workflows                              @fuxingloh @surangap
/.idea/                                         @fuxingloh

/docs/                                          @surangap @fuxingloh @DieHard073055 @canonbrother
/meta/                                          @surangap @fuxingloh @DieHard073055 @canonbrother

README.md                                       @fuxingloh
LICENSE                                         @fuxingloh
rustfmt.toml                                    @surangap @fuxingloh
Cargo.toml                                      @surangap @fuxingloh
Cargo.lock                                      @surangap @fuxingloh
