Repository DeFiCh/metachain, pull requests merged in 2022-09, with the labels that each got.

#73 chore(workflow): update governance workflow settings to reflect current design
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
Labels: area/workflow, kind/chore

#69 chore(pnpm): use pnpm instead of npm
  .gitignore
  .idea/metachain.iml
  .npmrc
  netlify.toml
  package-lock.json
  package.json
  packages/docs/:900:Governance/:001:contributing.md
  packages/docs/:900:Project Governance/:001:contributing.md
  packages/docs/:900:Project Governance/:002:documentation.md
  packages/docs/contented.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  ts-tests/package.json
Labels: kind/chore, area/docs

#72 chore(packages): add network and typescript package
  packages/network/README.md
  packages/network/package.json
  packages/network/src/index.ts
  packages/network/tsconfig.build.json
  packages/network/tsconfig.json
  packages/typescript/README.md
  packages/typescript/package.json
  packages/typescript/tsconfig.json
  pnpm-lock.yaml
Labels: kind/chore, packages/network, area/packages, packages/typescript

#77 chore(docs): move docs back to its root
  README.md
  docs/:000:index.md
  docs/:100:Specification/:010:rpc-interface.md
  docs/:100:Specification/:099:iterations.md
  docs/:900:Project Governance/:001:contributing.md
  docs/:900:Project Governance/:002:documentation.md
  docs/contented.config.js
  docs/package.json
  netlify.toml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: kind/chore, area/docs

#66 chore(ts-tests): add e2e contracts
  .dockerignore
  .gitignore
  ts-tests/.prettierrc
  ts-tests/__tests__/balances.test.ts
  ts-tests/__tests__/blocks.test.ts
  ts-tests/__tests__/contract.tests.ts
  ts-tests/containers/MetaDContainer.test.ts
  ts-tests/containers/MetaDContainer.ts
  ts-tests/contracts/Test.sol
  ts-tests/hardhat.config.js
  ts-tests/package-lock.json
  ts-tests/package.json
  ts-tests/utils/constant.ts
Labels: kind/chore

#86 chore(ts-tests): refactor `ts-tests/*` to follow pnpm and turbo workspace design
  .github/workflows/ci.yml
  packages/typescript/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  ts-tests/.prettierrc
  ts-tests/babel.config.js
  ts-tests/hardhat.config.js
  ts-tests/jest.config.ts
  ts-tests/package-lock.json
  ts-tests/package.json
  ts-tests/src/containers/MetaDContainer.test.ts
  ts-tests/src/containers/MetaDContainer.ts
  ts-tests/src/containers/index.ts
  ts-tests/src/utils/constant.ts
  ts-tests/tests-e2e/Balances.e2e.ts
  ts-tests/tests-e2e/Blocks.e2e.ts
  ts-tests/tests-e2e/Contract.e2e.ts
  ts-tests/tsconfig.json
  turbo.json
Labels: area/workflow, kind/chore, area/packages, packages/typescript

#87 chore(.idea): check in codeStyles and .gitignore for `.idea/*`
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
Labels: kind/chore

#90 chore(docs): add documentation structure for MetaChain
  docs/:000:index.md
  docs/:100:Specification/:010:rpc-interface.md
  docs/:100:Specification/:099:iterations.md
  docs/:200:DeFiChain Basics/:100:what-is-metachain.md
  docs/:200:DeFiChain Basics/:110:what-is-nativechain.md
  docs/:200:DeFiChain Basics/:120:what-is-dfi.md
  docs/:200:DeFiChain Basics/:500:wallet.md
  docs/:300:MetaChain Protocol/:100:whitepaper.md
  docs/:300:MetaChain Protocol/:200:improvement-proposal.md
  docs/:300:MetaChain Protocol/:300:token-bridge.md
  docs/:900:MetaChain Governance/:001:code-contribution.md
  docs/:900:MetaChain Governance/:002:docs-contribution.md
  docs/:900:MetaChain Governance/:200:node-upgrades.md
Labels: kind/chore, area/docs

#92 chore(governance): add area/ain to earmark issues/pr that requires changes on the DeFiCh/ain codebase
  .github/governance.yml
  .github/labels.yml
Labels: area/workflow, kind/chore

#102 docs(token-bridge): add draft for MetaChain Token & Bridge
  docs/:300:MetaChain Protocol/:300:token-bridge.md
Labels: kind/docs, area/docs

#104 chore(ts-tests): Replace MetaDContainer with MetaChainContainer
  packages/testcontainers/src/MetaChainContainer.ts
  pnpm-lock.yaml
  ts-tests/package.json
  ts-tests/src/containers/MetaDContainer.test.ts
  ts-tests/src/containers/MetaDContainer.ts
  ts-tests/src/containers/index.ts
  ts-tests/tests-e2e/Balances.e2e.ts
  ts-tests/tests-e2e/Blocks.e2e.ts
  ts-tests/tests-e2e/Contract.e2e.ts
Labels: kind/chore, area/packages, packages/testcontainers
