Repository DeFiCh/metachain, pull requests merged in 2022-10, with the labels that each got.

#105 chore(meta): ethereum chain id
  .vscode/settings.json
  Cargo.lock
  meta/meta-ethereum-chain-id/Cargo.toml
  meta/meta-ethereum-chain-id/src/lib.rs
  meta/meta-node/specs/meta.json
  meta/meta-node/src/chain_spec.rs
  meta/meta-node/src/command.rs
  meta/meta-runtime/Cargo.toml
  meta/meta-runtime/src/lib.rs
  packages/network/src/NetworkConfig.ts
  packages/network/src/NetworkConfig.unit.ts
  packages/testcontainers/src/MetaChainContainer.ts
  packages/testcontainers/src/MetaChainContainer.unit.ts
Labels: kind/chore, packages/network, meta/node, area/packages, area/meta, packages/testcontainers, meta/runtime

#124 chore(netlify): add out of the box support for pnpm
  .idea/metachain.iml
  netlify.toml
Labels: kind/chore

#143 fix(meta): refine std features and meta-ethereum-chain-id
  meta/meta-node/Cargo.toml
  meta/meta-runtime/Cargo.toml
Labels: kind/fix, meta/node, area/meta, meta/runtime

#142 chore(workflows): add .nvmrc support
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .nvmrc
  package.json
Labels: area/workflow, kind/chore

#144 chore(meta): polkadot v0.9.27
  Cargo.lock
  meta/meta-ethereum-chain-id/Cargo.toml
  meta/meta-ethereum-chain-id/src/lib.rs
  meta/meta-node/Cargo.toml
  meta/meta-node/specs/meta.json
  meta/meta-node/src/chain_spec.rs
  meta/meta-node/src/rpc.rs
  meta/meta-runtime/Cargo.toml
  meta/meta-runtime/src/lib.rs
  packages/testcontainers/src/MetaChainContainer.ts
Labels: kind/chore, meta/node, area/packages, area/meta, packages/testcontainers, meta/runtime
