Repository DeFiCh/metachain, pull requests merged in 2022-11, with the labels that each got.

#150 chore(workflows): disable renovate engines updates
  .github/renovate.json
Labels: area/workflow, kind/chore

#155 Fix appending network configs
  packages/testcontainers/src/MetaChainContainer.ts
Labels: area/packages, packages/testcontainers

#122 feat(meta): MetaChainContainer `start()` to be more fluent like
  packages/testcontainers/package.json
  packages/testcontainers/src/MetaChainContainer.ts
  packages/testcontainers/src/MetaChainContainer.unit.ts
  pnpm-lock.yaml
  ts-tests/package.json
  ts-tests/tests-e2e/Contract.e2e.ts
Labels: kind/feature, area/packages, packages/testcontainers

#161 chore(docker): add more ignore to `.dockerignore` to increase context archive setup
  .dockerignore
Labels: kind/chore

#160 chore(meta): update chain id 988 to 1130
  .github/workflows/ci.yml
  .github/workflows/release-docker.yml
  .vscode/settings.json
  meta/meta-node/specs/meta.json
  meta/meta-node/src/chain_spec.rs
  meta/meta-runtime/src/lib.rs
  meta/meta-runtime/src/mock.rs
  packages/network/src/NetworkConfig.ts
  packages/network/src/NetworkConfig.unit.ts
  packages/testcontainers/src/MetaChainContainer.ts
  rust-toolchain.toml
  ts-tests/src/utils/constant.ts
Labels: area/workflow, kind/chore, packages/network, meta/node, area/packages, area/meta, packages/testcontainers, meta/runtime

#162 chore(workflows): updated deprecated `# tag=v1.0.0` for version pinning, it is just `# v1.0.0`
  .github/workflows/ci.yml
  .github/workflows/oss-governance-bot.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-labels.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
Labels: area/workflow, kind/chore

#163 chore(dockerfile): multi-stage meta-node docker build
  .github/workflows/release-docker.yml
  Dockerfile
Labels: area/workflow, kind/chore

#156 feat(metachain): @defimetachain/testcontainers should be build locally
  meta/package.json
  packages/testcontainers/package.json
  packages/testcontainers/src/MetaChainContainer.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: kind/feature, area/packages, area/meta, packages/testcontainers

#169 feat(testsuite-web3-rpc): move files from ts-test to testsuite-web3-rpc
  .gitignore
  packages/testsuite-web3-rpc/contracts/Test.sol
  packages/testsuite-web3-rpc/hardhat.config.js
  packages/testsuite-web3-rpc/package.json
  packages/testsuite-web3-rpc/src/utils/constant.ts
  packages/testsuite-web3-rpc/tests-e2e/Balances.e2e.ts
  packages/testsuite-web3-rpc/tests-e2e/Blocks.e2e.ts
  packages/testsuite-web3-rpc/tests-e2e/Contract.e2e.ts
  packages/testsuite-web3-rpc/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: kind/feature, area/packages

#170 feat(workflows): add os's to the build matrix
  .github/workflows/ci.yml
Labels: kind/feature, area/workflow
