Repository DeFiCh/metachain, pull requests merged in 2022-08, with the labels that each got.

#1 chore(evm): Add meta skeleton with manual seal
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  docs/Governance/01:contributing.md
  example/example/src/main.rs
  nodes/meta-node/Cargo.toml
  nodes/meta-node/Dockerfile
  nodes/meta-node/build.rs
  nodes/meta-node/src/chain_spec.rs
  nodes/meta-node/src/cli.rs
  nodes/meta-node/src/command.rs
  nodes/meta-node/src/main.rs
  nodes/meta-node/src/rpc.rs
  nodes/meta-node/src/service.rs
  pallets/meta-consensus/Cargo.toml
  pallets/meta-consensus/src/lib.rs
  pallets/meta-consensus/src/tests.rs
  runtimes/meta-runtime/Cargo.toml
  runtimes/meta-runtime/build.rs
  runtimes/meta-runtime/src/lib.rs
  rustfmt.toml
Labels: area/workflow, kind/chore, area/docs

#21 chore(docs/deps): bump contented to v1.1.0
  README.md
  docs/.gitignore
  docs/01:overview.md
  docs/:100:Specification/:010:rpc-interface.md
  docs/:100:Specification/:099:iterations.md
  docs/:900:Governance/:001:contributing.md
  docs/:900:Governance/:002:documentation.md
  docs/contented.config.js
  docs/contented.js
  docs/package-lock.json
  docs/package.json
  netlify.toml
Labels: kind/chore, area/docs

#20 chore(example): remove example project
  .gitignore
  .idea/metachain.iml
  Cargo.toml
  example/example/Cargo.toml
  example/example/src/main.rs
Labels: kind/chore

#24 chore(meta): restructure project to meta/*
  .idea/metachain.iml
  Cargo.lock
  Cargo.toml
  meta/meta-consensus/Cargo.toml
  meta/meta-consensus/src/lib.rs
  meta/meta-consensus/src/tests.rs
  meta/meta-node/Cargo.toml
  meta/meta-node/Dockerfile
  meta/meta-node/build.rs
  meta/meta-node/src/chain_spec.rs
  meta/meta-node/src/cli.rs
  meta/meta-node/src/command.rs
  meta/meta-node/src/main.rs
  meta/meta-node/src/rpc.rs
  meta/meta-node/src/service.rs
  meta/meta-runtime/Cargo.toml
  meta/meta-runtime/build.rs
  meta/meta-runtime/src/lib.rs
Labels: kind/chore

#23 docs: update contribution with explicit instructions
  docs/:900:Governance/:001:contributing.md
Labels: kind/docs, area/docs

#22 chore(codeowners): setup codeowner for automatic code review assignment
  .github/CODEOWNERS
  .idea/metachain.iml
Labels: area/workflow, kind/chore

#25 chore(deps): Upgrade to 2022-08
  Cargo.lock
  Cargo.toml
  meta/meta-node/Cargo.toml
  meta/meta-node/src/chain_spec.rs
  meta/meta-node/src/cli.rs
  meta/meta-node/src/command.rs
  meta/meta-node/src/rpc.rs
  meta/meta-node/src/service.rs
  meta/meta-runtime/Cargo.toml
  meta/meta-runtime/src/lib.rs
Labels: kind/chore

#27 chore(meta): add evm
  Cargo.lock
  meta/meta-node/Cargo.toml
  meta/meta-node/src/chain_spec.rs
  meta/meta-node/src/cli.rs
  meta/meta-node/src/command.rs
  meta/meta-node/src/rpc.rs
  meta/meta-node/src/service.rs
  meta/meta-runtime/Cargo.toml
  meta/meta-runtime/src/lib.rs
  meta/meta-runtime/src/mock.rs
  meta/meta-runtime/src/tests.rs
Labels: kind/chore

#26 chore(workflow): CD of docker image on push/pull_request/release
  .dockerignore
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  meta/meta-node/Dockerfile
Labels: area/workflow, kind/chore

#38 fix(workflow): docker supports multi platform
  .github/workflows/cd.yml
Labels: area/workflow, kind/fix

#33 chore(ts-tests): add e2e testcontainer
  .github/workflows/ci.yml
  .gitignore
  .vscode/settings.json
  ts-tests/.prettierrc
  ts-tests/__tests__/balances.test.ts
  ts-tests/__tests__/blocks.test.ts
  ts-tests/babel.config.js
  ts-tests/containers/MetaDContainer.test.ts
  ts-tests/containers/MetaDContainer.ts
  ts-tests/containers/index.ts
  ts-tests/jest.config.ts
  ts-tests/package-lock.json
  ts-tests/package.json
  ts-tests/tsconfig.json
  ts-tests/utils/constant.ts
Labels: area/workflow, kind/chore

#47 chore(governance): clean up health files and auto labeling
  .github/CODEOWNERS
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
Labels: area/workflow, kind/chore

#42 refactor(packages): move to a single root `package.json` with turbo pipelines
  .github/workflows/docs-ci.yml
  .gitignore
  .idea/metachain.iml
  .prettierignore
  docs/.gitignore
  docs/contented.config.js
  docs/package-lock.json
  netlify.toml
  package-lock.json
  package.json
  packages/docs/:100:Specification/:010:rpc-interface.md
  packages/docs/:100:Specification/:099:iterations.md
  packages/docs/:900:Governance/:001:contributing.md
  packages/docs/:900:Governance/:002:documentation.md
  packages/docs/contented.config.js
  packages/docs/package.json
  ts-tests/package.json
  turbo.json
Labels: area/workflow, kind/refactor, area/docs

#43 chore(renovate): replace dependabot with renovate
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/docs-release.yml
  .github/workflows/oss-governance-bot.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-labels.yml
  .github/workflows/release-drafter.yml
Labels: area/workflow, kind/chore
